$def with (user,is_git_auth,project,payoff,github_repo_name)

$var user = user
$var is_git_auth = is_git_auth
$var project = project
$var payoff = payoff


<section class="row homepage">
    <h1 class="col-md-16 col-sm-16"><span class="logo_homepage text-center">$project</span><br/>$payoff</h1>
    <section class="col-md-6">
    </section>
</section>

<section class="corners row">
  <!-- <section class="homeheadingtext col-md-12 col-sm-12">
    <img class="logos" src="static/imgs/unesco.png" alt="">
  </section> -->
  <section class="homeheading col-md-4 col-sm-12">
    <p class="caption">GEL</p>
    <h2>Global Education and Learning</h2>
  </section>

  <section class="homeheadingtext col-md-7 col-sm-12">
    <h3>GEL is a digital archive in Global Education and Learning </h3>
    <p>Global Education Digest provides a reasoned bibliography
      of academic and research materials relevant to the field
      of global education, as defined in the Maastricht Global
      Education Declaration (2002). This multilingual archive currently
      covers material that has been recently published in English, Dutch,
      Finnish, French, German, Italian, Polish, Portuguese, Slovakian,
      and Spanish.</p>
    <p>The research platform provides visibility
      and recognition to the GE community.
      It serves as a work instrument not only for researchers,
      but also for policy makers and practitioners,
      as the presence of languages other than English and grey literature
      constitute important elements that broaden the GE community.</p>
    <!-- <p>The Global Education knowledge base provides an annotated bibliography of academic and research materials relevant to the field of global education, as defined in the Maastricht Declaration on Global Education (2002).</p>
    <p>The first and second editions of <a href="https://angel-network.net/">ANGEL</a>'s Global Education Digest included only English-language publications, highlighting the fact that most scholars tend to publish in English. The unequal distribution of publication languages provided the main impetus for the development of the third and fourth edition, which led contributor teams to search and collate literature in 7 further languages, covering material published in English, Dutch, French, German, Italian, Polish, Portuguese and Spanish.</p>
    <p>Continuing with the project’s intentions to expand its international reach and impact, the multilingual approach not only ensures visibility of the rich tradition of research on Global Education in the examined languages, but also encourages cross-linguistic, cross-fertilization and provides access for policymakers to ever more relevant research.</p> -->
  </section>

</section>

<section class="corners row">
  <!-- <section class="homeheadingtext col-md-12 col-sm-12">
    <img class="logos" src="static/imgs/unesco.png" alt="">
  </section> -->
  <section class="homeheading col-md-4 col-sm-12">
    <p class="caption">HOW</p>
    <h2>Contribute to GEL</h2>
  </section>

  <section class="homeheadingtext col-md-7 col-sm-12">
    <h3>You can contribute to the GEL Digital Archive in several ways</h3>
    <ol>
      <li><p>Add a new bibliographic resource to the database, following the <a target="_blank" href="documentation">editorial guidelines</a>.
        After saving the record, we will review it and contact you to follow up your contribution.
      </p></li>
      <li><p>Visit the <a target="_blank" href="https://angel-network.net/">ANGEL network website</a>
        and join (for free) the GEL community of researchers and practitioners.
      </p></li>
      <li><p>Join one of the linguist teams working
        on the annual <a href="https://angel-network.net/publications/new-edition">Multilingual Digest on Global Education and Learning</a>.
        Contact us via <a href="mailto:gcedchair@unibo.ch">email</a>.
      </p></li>
    </ol>
    <p>Thank you for your interest in GEL Digital Archive activities.</p>
    <!-- <p>The Global Education knowledge base provides an annotated bibliography of academic and research materials relevant to the field of global education, as defined in the Maastricht Declaration on Global Education (2002).</p>
    <p>The first and second editions of <a href="https://angel-network.net/">ANGEL</a>'s Global Education Digest included only English-language publications, highlighting the fact that most scholars tend to publish in English. The unequal distribution of publication languages provided the main impetus for the development of the third and fourth edition, which led contributor teams to search and collate literature in 7 further languages, covering material published in English, Dutch, French, German, Italian, Polish, Portuguese and Spanish.</p>
    <p>Continuing with the project’s intentions to expand its international reach and impact, the multilingual approach not only ensures visibility of the rich tradition of research on Global Education in the examined languages, but also encourages cross-linguistic, cross-fertilization and provides access for policymakers to ever more relevant research.</p> -->
  </section>

</section>
