$def with (user,is_git_auth,project,payoff,github_repo_name)

$var user = user
$var is_git_auth = is_git_auth
$var project = project
$var payoff = payoff


<section class="row homepage">
    <h1 class="col-md-16 col-sm-16"><span class="logo_homepage text-center">$project</span><br/>$payoff</h1>
    <section class="col-md-6">
    </section>
</section>

<section class="corners row">
  <!-- <section class="homeheadingtext col-md-12 col-sm-12">
    <img class="logos" src="static/imgs/unesco.png" alt="">
  </section> -->
  <section class="homeheading col-md-4 col-sm-12">
    <p class="caption">WHAT</p>
    <h2>Global Education and Learning</h2>
  </section>

  <section class="homeheadingtext col-md-7 col-sm-12">
    <h3>An annotated bibliography on global education</h3>
    <p>The Global Education knowledge base provides an annotated bibliography of academic and research materials relevant to the field of global education, as defined in the Maastricht Declaration on Global Education (2002).</p>
    <p>The first and second editions of <a href="https://angel-network.net/">ANGEL</a>'s Global Education Digest included only English-language publications, highlighting the fact that most scholars tend to publish in English. The unequal distribution of publication languages provided the main impetus for the development of the third and fourth edition, which led contributor teams to search and collate literature in 7 further languages, covering material published in English, Dutch, French, German, Italian, Polish, Portuguese and Spanish.</p>
    <p>Continuing with the project’s intentions to expand its international reach and impact, the multilingual approach not only ensures visibility of the rich tradition of research on Global Education in the examined languages, but also encourages cross-linguistic, cross-fertilization and provides access for policymakers to ever more relevant research.</p>
  </section>

</section>
